version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
    open-pull-requests-limit: 5
  
  - package-ecosystem: "cargo"
    directory: "/examples"
    schedule:
      interval: "weekly"
      day: "friday"
    open-pull-requests-limit: 5
  
  - package-ecosystem: "cargo"
    directory: "/tools"
    schedule:
      interval: "weekly"
      day: "friday"
    open-pull-requests-limit: 5

  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "monthly"
    target-branch: "master"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "master"
