#unreleased-version-header {
    background-color: rgb(200, 237, 248);
    z-index: 400;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0 0 5px 0 rgb(100, 100, 100);
}

@media (prefers-color-scheme: dark) {
    #unreleased-version-header {
        background-color: rgb(32, 43, 57);
        box-shadow: 0 0 5px 0 black;
    }
}

body {
    padding-top: 70px !important;
}
