button {
  background-color: #008f53; /* Green */
  border: 0;
  color: white;
  padding: 14px 14px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  width: 100px;
}

.counter {
    color: #008f53;
    font-size: 48px;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 12px;
}

.panel {
  display: flex;
  justify-content: center;
}
