.game-status-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  a {
    text-decoration: none;
    cursor: pointer;
    color: #5979ab;
  }
  .sec-past {
    position: absolute;
    right: 10px;
    font-size: 15px;
    font-weight: normal;
  }
}
