.score-board {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 160px;
    height: 100px;
    line-height: 90px;
    padding: 5px;
    border-radius: 5px;
    background-color: #5979ac;
    color: #fff;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

// score board -> logo

@media screen and (max-width: 450px) {
  .score-board .logo {
    width: 150px;
  }
}

@media screen and (max-width: 380px) {
  .score-board .logo {
    width: 140px;
  }
}

@media screen and (max-width: 360px) {
  .score-board {
    .logo {
      width: 110px;
    }
    a {
      font-size: 18px;
    }
  }
}
