html, body {
  font-family: sans-serif;

  margin: 0;
  padding: 0;

  background-color: rgb(237, 244, 255);
}

.layout {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  box-shadow: 0 0 5px 0  black;

  background: white;
}

.content-area {
  width: 350px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 300px;
  height: 300px;
  font-size: 15px;
}

.action-area {
  padding-top: 40px;
}

button {
  color: white;
  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: rgb(88, 164, 255);
  border-radius: 5px;
  border: none;
}

.hint {
  padding-top: 20px;

  font-size: 12px;

  text-align: center;

  color: rgb(100, 100, 100);
}
