html,
body {
  width: 100%;
  background: #fafafa;
  font-family: monospace;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  align-items: center;
}

.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 4px;
  background: #eee;

  &:hover {
    background: #eaeaea;
  }
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #666;
  min-width: 30vw;

  &.inactive {
    opacity: 0.5;
  }
}

.list-header {
  background: #feecaa;
  border-bottom: 1px solid #666;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: #fee3a0;
  }
}

.list-item {
  background: white;
  border-bottom: 1px solid #666;
  padding: 10px;

  &:hover {
    background: #fafafa;
  }

  &:last-child {
    border-bottom: 0px;
  }

  &-details {
    background: #eee;
    border: 1px solid #666;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;

    &.list-container {
      margin-top: 0px;
      padding: 15px;
    }
  }
}

.last-hovered {
  margin-top: 20px;

  &-text {
    color: #666;
    margin-left: 5px;
  }
}

.sublist {
  display: inline-block;
  background: #fff;
  border: 1px solid #666;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 20px;
}
