html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-color: #000000;
}

.app-logo {
  animation: app-logo-scale infinite 4s linear;
  height: 80px;
  width: 80px;
}

.app-header {
  background-color: #000;
  height: 130px;
  color: aliceblue;
}

.app-title {
  font-size: 24px;
  width: 100%;
  font-weight: 100;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.app-footer {
  background-color: #000000;
  height: 30px;
  padding: 10px;
}

.footer-text {
  color: aliceblue;
  padding-left: 20px;
  font-size: 14px;
}

.game-area {
  width: 94%;
  margin: 20px auto;
}

.game-container {
  background: #000000;
  margin: 20px 0 0px 0;
}

.game-of-life {
  display: inline-block;
  background-color: aliceblue;
  width: max-content;
  overflow: hidden;
}

.game-row {
  line-height: 0;
}

.game-cellule {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #ccc;
}

.cellule-dead {
  background-color: white;
}

.cellule-live {
  background-color: black;
}

.game-buttons {
  width: 100%;
  margin-top: 20px;
}

@keyframes app-logo-scale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}
