[package]
name = "js-framework-benchmark-yew-hooks"
version = "1.0.0"
authors = ["Julius Lungys <juliuslungys@gmail.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
rand = { workspace = true, features = ["small_rng"] }
getrandom = { workspace = true }
wasm-bindgen.workspace = true
web-sys = { workspace = true, features = ["Window"]}
yew = { version = "0.22.0", features = ["csr"], path = "../../packages/yew" }

[package.metadata.wasm-pack.profile.release]
wasm-opt = ['-O4']

[lints]
workspace = true
