name: Publish website
on:
  push:
    branches:
      - master
    paths:
      - "docs/**/*"
      - "website/**/*"

jobs:
  publish_website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install dependencies
        run: cd website && yarn install && cd ../
      - name: Build site
        run: cd website && yarn run build && cd ../
      - name: Publish website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build/docs
