name: Publish website
on:
  push:
    branches: [master]
    paths:
      - "docs/**/*"
      - "website/**/*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Build
        run: |
          cd website
          yarn install
          yarn run Build

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: hosting:channel:deploy --only hosting:website
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
