html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    width: 1000px;
    height: 1000px;
}

tr {
    height: 10px;
}
td {
    width: 10px;
}

.square_red {
    background-color: #aaaaff
}

.square_green{
    background-color: #aa5555
}
